*{
    font-family: 'Hind', sans-serif;
}
.wrapper{
    padding: 0 10%;
}
.clearfix::after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
/* HEADER*/
.line-top{
    background: #ededed;
    padding-top: 10px;
    padding-bottom: 1%;
}
.line-top_item{
    float: left;
}
.city{
    display: inline-block;
    margin-right: 45px;
    margin-bottom: 1%;
}
select{
    background: #000;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding: 3px;
    height: 37px;
    width: 130px;
    cursor: pointer;
    font-family: 'Hind-Regular', sans-serif;
}
option{
    font-family: 'Hind-Regular', sans-serif;
}
.phone{
    display: inline-block;
    margin-right: 30px;
    padding-top: 11px;
    font-size: 14px;
}
.address{
    display: inline-block;
    padding-top: 11px;
    font-size: 14px;
}
.icons{
    float: right;
    padding-top: 10px;
}
.icons i{
    color: black;
    margin-left: 20px;
 }
.line{
    padding-top: 3%;
    padding-bottom: 2%;
}
.logo{
    float: left;
    cursor: pointer;
}
.properties{
    height: 45px;
    float: right;
    margin-left: 15px;
    margin-top: 15px;
    padding-right: 15px;
    border-right: 1px solid #e6e6e6;
}
.properties p{
    padding-left: 25px;
    margin-top: 5px;
    color: #8c8c8c;
}
.properties b{
    padding-left: 5px;
}
.properties:first-child {
    border-right: none;
}
nav{
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
}
.menu{
    color: #fff;
    text-transform: uppercase;
    float: left;
    padding-left: 130px;
}
.hamburger{
    color: #fff;
    font-size: 24px;
    margin-top: 2%;
    display: none;
    cursor: pointer;
}
ul{
     padding: 0;
     margin: 0;
    cursor: pointer;
 }
li{
    display: inline-block;
    padding-left: 15px;
    height: 72px;
    padding-top: 28px;
    box-sizing: border-box;
    padding-right: 15px;
    font-size: 16px;
}
.active{
    border-bottom: 7px solid #bd2631;
}
li:hover{
    border-bottom: 7px solid #bd2631;
}
.search{
    float: right;
    color: #fff;
    margin: 2% 17px 0 0;
    cursor: pointer;
    padding-right: 10%;
    padding-bottom: 2%;
}

/* BODY*/
main{
    color: #fff;
    font-family: 'Hind', sans-serif;
}
.slider{
    background: #000 url("../img/slide.png")top right no-repeat;
    height: 642px;
}
.slider_text{
    padding-top: 290px;
    display: inline-block;
    margin-left: 47px;
    font-family: 'Hind', sans-serif;
}
h2{
    margin: 0;
    color: #bd2631;
    font-size: 32px;
    font-weight: bold;
}
h1{
    font-size: 43px;
    font-weight: 100;
    margin: 0;
}
.slider_text p{
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    font-weight: 300;
}
.arrows{
    margin-top: 330px;
    cursor: pointer;
}
.arrow-right{
    float: right;
    margin-right: 12px
}
.arrow-left{
    float: left;
    margin-left: 50px
}
.quote{
    background: #bd2631;
}
.quote_text{
    padding-top: 3%;
    float: left;
    font-family: 'Hind', sans-serif;
    width: 80%;
}
h5{
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}
.quote_text p{
    font-size: 24px;
    margin: 0;
}
.button{
    float: right;
    margin: 38px 0;
}
button{
    background: #ededed;
    width: 135px;
    height: 51px;
    border: 0;
    border-radius: 6px;
}
.button_text{
    font-weight: bold;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
}
button:hover{
    cursor: pointer;
}
.block_img,
.block_text,
.block_item{
    float: left;
    height: 452px;
    background-size: cover;
    width: 25%;
}
.block_text{
    width: 50%;
    background: #000 url("../img/Products.png") no-repeat;
    background-size: cover;
    padding: 11% 11% 0 10%;
    box-sizing: border-box;
}
.block_text:last-child{
    background: #000 url("../img/Services2.png") no-repeat;
    background-size: cover;
}
.battery{
    background: #000 url("../img/Battery.png") no-repeat;
    background-size: cover;
}
.block_text h2{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 29px;
}
.block_text p{
    color: #ffffff;
    font-size: 14px;
    line-height: 2.1;
}
.block_img{
    box-sizing: border-box;
    padding: 160px 0 0 107px;
}
.block_exc img,
.block_item img{
    width: 100%;
    height: 100%;
}
.block_exc img{
    float: right;
}
.block_ex{
    background: #bd2631;
    padding: 160px 0 0 130px;
    width: 25%;
}

                /*RESPONSIVE   */
@media screen and (max-width: 1060px) {
    .city {
        margin-right: 2%;
    }
    select {
        width: 120px;
    }
    .icons i {
        margin-left: 10px;
    }
    .logo{
        float: none;
        text-align: center;
        padding-bottom: 1%;
    }
    .prop{
        margin: 0 10%;
    }
    .properties:first-child{
        margin-right: 4%;
    }
    li {
        padding-left: 5px;
        height: 70px;
        padding-top: 28px;
        padding-right: 5px;
    }
    .menu {
        padding-left: 85px;
    }
    .block_img{
        padding: 15% 0 0 6%;
    }
    .slider_text{
        width: 76%;
    }

}
@media screen and (max-width: 920px) {
    .line-top_item{
        width: 55%;
    }
    .button {
        text-align: center;
        float: none;
        margin: 2% 0;
    }
    .quote_text{
        float: none;
        width: 100%;
    }
    .fa-3x{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 760px) {
    .block_img img{
        height: 25%;
        padding: 15% 0 0 6%;
    }
    .hamburger{
        display: block;
        float: left;
    }
    .menu{
        display: none;
    }
    .fa-3x{
        font-size: 2em;
    }
    .properties{
        float: none;
        border-right: none;
    }
    .prop{
        margin: 1px 34%;
    }
}

@media screen and (max-width: 620px) {


}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 390px) {
    .line-top div {
        display: block;
    }
}